.container {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
}

.videoEntryList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: minmax(184px, auto);
	gap: 1rem;
}

.editForm {
  margin: 20px auto;
  max-width: 800px;
}
