.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.headingContainer {
	display: flex;
	padding: 0 1rem;
}

.courseEntryList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: minmax(184px, auto);
	gap: 1rem;
	padding: 1rem;
}
